#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1 {
  color: #d3ae47;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  line-height: 1.2rem;
  margin-bottom: 2rem;
}
