@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Patrick+Hand+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family: "Bitter", serif;
  font-weight: 600;
  font-style: normal;

  color: #222;
  background: linear-gradient(135deg, #6b6359 0%, #3a3838 100%);
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4e4e4e;
  transition: border-color 0.25s;
}
input:hover {
  border-color: #ffcd44;
}
input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffcd44;
  color: #4e4e4e;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffcd44;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

label {
  font-weight: bold;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
