.card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin: 4rem auto;
  max-width: 1200px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  border-radius: 12px;
  border: 8px solid #a78b3f;
  background: linear-gradient(135deg, #202122 0%, #1e2325 100%);
  width: 280px;
  height: 400px;
  color: #a78b3f;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.377);
  transition: all 0.3s ease;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card h3 {
  color: #a78b3f;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  padding: 0;
}

.card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 2px;
  margin-bottom: 1rem;
}
