.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  margin: 4rem auto;
}

.card {
  position: relative;

  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  border-radius: 16px;
  border: 12px solid #111;
  background: linear-gradient(165deg, #e2e0de 0%, #ada9a4 100%);
  width: 220px;
  height: 320px;
  color: #111;
  box-shadow: 0 2px 8px #25252496;
  transition: all 0.3s ease;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.04);
  box-shadow: 0 2px 8px #252524dc;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  border: 1px solid #383734;
  padding: 0 0.4rem;
  border-radius: 4px;
  background: linear-gradient(
    rgb(240, 238, 237) 0%,
    #dad6d3 24%,
    #dad6d3 76%,
    #b4b2ab 100%
  );
  margin: 0 -3%;
  width: 106%;
}

.card h3 {
  color: #000;
  font-size: 0.9rem;
  padding: 0;
}

.level {
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;
  background-color: #383734;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;

  border-radius: 50%;
  border: 1px solid #383734;

  color: #e9e7e4;
  z-index: 1;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  overflow: hidden;
  border-inline: 4px double #383734;
}

footer {
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #383734;
  padding: 0.16rem 0.4rem;
  border-radius: 4px;
  background: linear-gradient(
    rgb(240, 238, 237) 0%,
    #dad6d3 24%,
    #dad6d3 76%,
    #b4b2ab 100%
  );
  margin: 0 -3%;
  width: 106%;
}
.class_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.atk_icon {
  color: #000;
}

footer p {
  margin: 2px 0 2px 4px;
  color: #222;
  letter-spacing: 0.04rem;
}

.other_info {
  margin-top: 1.2em;
  font-size: 0.8rem;
}
